@if (TempData.ContainsKey("message"))
            {
    ThuchanhPTUDW.Library.XMessage message =(ThuchanhPTUDW.Library.XMessage) TempData["message"];
    <div class="alert alert-@message.TypeMsg">
        @message.Msg
    </div>
            }
