<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS-->
    <link href="~/AdminStyle/vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/AdminStyle/vendors/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin css -->
    <link href="~/AdminStyle/vendors/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/AdminStyle/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>

</html>
<!-- Bootstrap core JavaScript -->
<script src="~/AdminStyle/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="~/AdminStyle/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript -->
<script src="vendors/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript -->
<script src="~/AdminStyle/vendors/chart.js/Chart.min.js"></script>
<script src="~/AdminStyle/vendors/datatables/jquery.dataTables.js"></script>
<script src="~/AdminStyle/vendors/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages -->
<script src="~/AdminStyle/js/sb-admin.min.js"></script>
<!-- Demo scripts for this page -->
<script src="~/AdminStyle/js/demo/datatables-demo.js"></script>
<script src="~/AdminStyle/js/demo/chart-area-demo.js"></script>
