@if (TempData.ContainsKey("message"))
{
    _63CNTT4_PTUDW.Library.XMessage message = (_63CNTT4_PTUDW.Library.XMessage) TempData["message"];
    <div class="alert alert-@message.TypeMsg">
        @message.Msg
    </div>
}

